# Files to ignore in Git repository.
*.pyc
*.py.HOLD
*swp
lib
test/integration/config/*.py
test/integration/config/*.pyc
test/integration/config/*.cfg
test/integration/config/*.txt
.coverage*
coverage.xml
